@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Alegreya');
@import url('https://fonts.googleapis.com/css?family=Volkorn');

.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal a {
  color: #144270;
}

.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal pre,
.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal code {
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1.title {
  font-weight: 700;
}

.level1 h1 {
  border-bottom: 1px solid;
}

.level1 .header-section-number {
  display: inline-block;
  border-bottom: 3px solid;
}

.header-section-number {
  padding-right: .2em;
  font-weight: 500;
}

p {
  text-align: left;
}

.book.font-family-0 {
  font-family: Alegreya, Volkorn, Libertine, Georgia, serif;

}
.book.font-family-1 {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footnotes hr {
  border: 1px solid !important;
  height: 0 !important;
  width: 60%;
  margin: 4em auto 2em !important;
  color: currentcolor;
}

video {
  width: 100% !important;
  height: auto !important;
}

.infobox {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 2px solid orange;
  border-radius: 10px;
  background: transparent 5px center/3em no-repeat;
}

.caution {
  background-image: url("../images/caution.png");
}

/* from https://ianlunn.github.io/Hover/ */
.hvr-sweep-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #844225;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
  color: white;
}
.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*Popups pour mapview*/
.esri-popup__main-container.esri-widget {
  width: 310px !important;
  max-height: 300px !important;
}
