@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Alegreya');
@import url('https://fonts.googleapis.com/css?family=Volkorn');

.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal a {
  color: #144270;
}

.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal pre,
.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal code {
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1.title {
  font-weight: 700;
}

.level1 h1 {
  border-bottom: 1px solid;
}

.level1 .header-section-number {
  display: inline-block;
  border-bottom: 3px solid;
}

.header-section-number {
  padding-right: .2em;
  font-weight: 500;
}

p {
  text-align: left;
}

.book.font-family-0 {
  font-family: Alegreya, Volkorn, Libertine, Georgia, serif;

}
.book.font-family-1 {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.infobox {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 2px solid orange;
  border-radius: 10px;
  background: transparent 5px center/3em no-repeat;
}

.caution {
  background-image: url("../images/caution.png");
}
